@{
    ViewData["Title"] = "Home page";
}
@if (ViewBag.Message != null)
{
    <div class="alert alert-
       <strong>Error!</strong> danger">@ViewBag.Message
    </div>
}
<div class="text-center ">
    <h1 class="display-4">خوش آمدید!</h1>
    <p class="display-4">جهت خرید از فروشگاه از منوی سایت اقدام کنید.</p>


</div>